<% include ../layout.html %>

<h1><%=title%></h1>

<div id="menu_manage" ng-controller="menuItems">
    <input type="text" ng-model="names" value="{{names*2}}+12" />{{names}}
    <div ng-click="console.log((12+c),fn('function(){console.log(123+a)}'))">1212</div>
    <span id="menu_items"></span>
    <span class="opt">
        <a href="/a/menu/del/{{id}}" class="nj_ico gray3" title="删除节点">&#xe609;</a>
    </span>

    <div class="messages">
        <div class="alert" ng-repeat="entry in log">
            {{ entry.msg }}<input ng-model="entry.msg" value="" />
        </div>
    </div>

    
    <div ng-init="a=2">
    <ul ng-switch on="a">
      <li ng-switch-when="1">1</li>
      <li ng-switch-when="2">2</li>
      <li ng-switch-default>other</li>
    </ul>
  </div>
</div>


<h2>添加菜单</h2>
<form action="/a/menu/add" method="post" id="menu_edit">
    <ul class="nj_form">
        <li class="clearfix item">
            <label for="" class="lab">名称：</label>
            <div class="fields">
                <input type="text" name="menu[name]" class="text" value="">
            </div>
        </li>
        <li class="clearfix item">
            <label for="" class="lab">父级：</label>
            <div class="fields">
                <span id="menu_pid"></span>                
            </div>
        </li>        
        <li class="clearfix item">
            <label for="" class="lab">内容：</label>
            <div class="fields">
                <textarea name="menu[content]" id="menu_content" cols="30" rows="10" class="text"></textarea>
            </div>
        </li>
        <li class="fields">
            <input class="d_hide" name="menu[_id]">
            <button class="nj_btn n_b_sb" type="submit">提交</button>
            <button class="nj_btn" type="reset">add new</button>
        </li>
    </ul>
</form>
<script>

noJS.use('$,lib/nojs/mods/tree,lib/nojs/mods/form,ko,edit,ng', function($,tree,form){
    tree.key = {
        id : '_id',
        parent : 'pid'
    }
    var editor,
    treeOptions, 
    el = $('#menu_items'), 
    $pid = $('#menu_pid'),
    $form = $('#menu_edit');
    
    angular.module('myApp', []).controller('menuItems', function($scope){
        //console.log($scope)
        $scope.id = tree.rootID;
        //$scope.names = 'nolure'
        $scope.getID = function(id){
            $scope.id = id;
        }
        $scope.log = [
            { msg: '1Data Received!' },
            { msg: '2Data Received!' }
        ];
        $scope.fn = function(f){
            console.log(f)
        }
        $scope.console = {};
        $scope.console.log = function(a,b){
            console.log(a,b)
        }
    })

    $.getJSON('/getMenus', function(json){
        treeOptions = {
            data : json.data,
            level : 0
        }
        treeOptions.onSelect = function(id, data){

            //pid select
            var options = $.extend({
                name : ['menu[pid]'],
                disable : [id]
            }, treeOptions)
            options.onSelect = null;
            tree.select($pid.empty(), options);

            //fill form
            var mdata = $.extend({}, data.all[id]);
            editor.html(mdata.content||'');
            for( var i in mdata ){
                mdata['menu['+i+']'] = mdata[i];
                delete mdata[i];
            }
            form.fill({
                form : $form,
                data : mdata
            })
            
        }
        tree.select(el, treeOptions);
    })

    KindEditor.options.filterMode = false;
    editor = KindEditor.create("#menu_content", {
        items : ['source', 'bold', 'forecolor','|','table','emoticons', '|', 'link', 'unlink','multiimage','code']
    })

    var Form = new form({
      form : $form,
      rules : {
        'menu[name]' : {isNull:''}
      },
      ajaxSubmit : {
        success : function(json){
            location.reload();
        }
      }
    })

})
</script>

</body>
</html>