<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title><%=title%></title>
<link rel="stylesheet" href="/css/nojs/ui.css">
<link rel="stylesheet" href="/css/docs.css">
<script src="/js/lib/nojs/noJS.js" id="nojs"></script>
<script>
window.domain = {
    rs : 'http://'+location.host
}
!function(){
    noJS.config({
        base : domain.rs+'/src/',
        alias : {
            '$' : 'lib/jquery/jquery',
            'ui' : 'lib/nojs/ui'
        },
        version : {
            base : '1.0',
            modules : {
            }
        }
    })
}();
</script>

</head>
<body>
</body>
</html>